@model AskMate.Models.QuestionModel
@{
    ViewData["Title"] = "Deatails";
}

@foreach (QuestionModel item in new IDAO_Impl().GetQuestions())
{
    <ul class="list-group">
        <li class="list-group-item">ID: @item.Id</li>
        <li class="list-group-item">Content: @item.Content</li>
        <li class="list-group-item">Answer: @item.Answer</li>
    </ul>
}

