@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <title>AskMate HomePage</title>
        <link rel="stylesheet" href="~/css/Index.css">
    </head>

    <body>
        @foreach (Question question in new IDAO_Impl().GetQuestions())
        {
            <a>(@question.Id).</a>
            <a>@question.Content</a>
            <br>
        }
    </body>

</html>
