@model AskMate.Models.QuestionModel
@{
    ViewData["Title"] = "QuestionResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Id - @Model.Content</h1>

<table>
    <tbody>
        <tr>
            <th>@Model.Content</th>
        </tr>
        <tr>
            <td>@Model.Answer</td>
        </tr>
    </tbody>
</table>