@model AskMate.Models.QuestionModel
@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/Index.css">
<script src="~/js/site.js"></script>

<ul class="list-group">
    <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
        <h3>#@Model.Id - @Model.Title</h3>
        <a>@Model.Date</a>
        <div>
            <span id="rateDown" class="oi oi-chevron-bottom btn-rate" onclick="toggleRate(this)"></span>
            <span class="badge badge-primary badge-pill">@Model.Rate</span>
            <span id="rateUp" class="oi oi-chevron-top btn-rate" onclick="toggleRate(this)"></span>
        </div>
    </li>
    <li class="list-group-item">Content: @Model.Content</li>
    <li class="list-group-item">Img: <img src=@Model.ImgLink style="width:142px;height:142px;" /></li>

    <li class="list-group-item">  
        @using (Html.BeginForm("NewAnswer/"+Model.Id, "Home", FormMethod.Post))
        {
            <label>Add an answer:</label>
            <textarea name="answer" required></textarea>
            <input type="submit" value="Submit">
        }
    </li>
</ul>
<button class="btn btn-info" onclick="window.location.href='/Home'">Back to questions</button>