@{
    ViewData["Title"] = "Tags";
    IDAO_Impl Idao = IDAO_Impl.Instance;
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="th-sm text-center">#ID</th>
            <th class="th-sm text-center">Name</th>
            <th class="th-sm text-center">Question count</th>
        </tr>
    </thead>
    @foreach (TagModel tag in Idao.Tags)
    {
        <tr>
            <td class="text-center">@tag.ID</td>
            <td class="text-center">@tag.Name</td>
            <td class="text-center">@Idao.GetNumberOfTagQuestion(tag.ID)</td>
        </tr>
    }
</table>