@model AskMate.Models.QuestionModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a new question</h1>

@using (Html.BeginForm("Index", "Question", FormMethod.Post))
{
    <div class="form-group">
        <label for="">Title</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @required = "" })
    </div>
    <div class="form-group">
        <label for="">Question</label>
        @Html.TextBoxFor(m => m.Content, new { @class = "form-control", @required = "" })
    </div>
    <button type="submit" class="btn btn-success">Add</button>
    <div class="float-right">
        <span>
            @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-danger ml-auto mr-1" })
        </span>
    </div>

}

